<div class="dateTimeLine">
    <div class="divider"></div>
    <div class="dateTimeLineText">
        <p class="dateTimeFormat">
            @DateTimeValue.ToString("dddd, dd MMMM yyyy")
        </p>
    </div>
    <div class="divider"></div>
</div>



@code{
    [Parameter]
    public DateTime DateTimeValue { get; set; }
}