@using Memoriae.UI.Blazor.Enums;

<Logo Aligment=@Aligment.Top></Logo>

<div class="control-section d-flex p-2">
    <div class="col-11 col-md-8 col-lg-4 m-auto">
        <p class="title" style="text-align:center">Добро пожаловать!</p>

        <EditForm EditContext="@editContext" OnValidSubmit="ExecuteLogin">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col">
                    <InputText placeholder="Логин" @bind-Value="user.Login" class="form-control" />
                    <ValidationMessage For="@(() => user.Login)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <InputText placeholder="Пароль" @bind-Value="user.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => user.Password)" />
                </div>
            </div>            
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1" style="width: 240px; background-color: white; border: 3px solid #FA6E59; color: #FA6E59; font-size: 14px; font-weight:bolder; border-radius: 6px">Войти с помощью Google</button>
                <button type="submit" class="btn btn-primary mr-1" style="width: 240px; background-color: #FA6E59; border: 3px solid #FA6E59; font-size: 14px; font-weight: bolder; border-radius: 6px ">Войти</button>
            </div>
        </EditForm>
    </div>
</div>