@using Memoriae.UI.Blazor.Enums;

@if (Aligment == Aligment.Left)
{
<div>
    <a id="logo_a" href="/"><p class="hr">memoriae</p>    </a>
    
</div>
}

@if (Aligment == Aligment.Top)
{
<div id="outer">
    <div id="inner"> 
        <a id="logo_a" href="/">
            <p class="hr">memoriae</p>
            </a>
        </div>
</div>
}

@code{
    [Parameter]
    public Aligment Aligment { get; set; }
}