@using Memoriae.UI.Blazor.Enums;

@if (Aligment == Aligment.Left)
{
<div>
    <p class="hr">memoriae</p>
</div>
}

@if (Aligment == Aligment.Top)
{
<div id="outer">
    <div id="inner"> <p class="hr">memoriae</p></div>
</div>
}

@code{
    [Parameter]
    public Aligment Aligment { get; set; }
}