
<div style="display: flex;">
    <div style="width: 10%;">
        <p class="dateTimeOnMain">
            @Post.CreateDateTime.ToString("ddd, dd MMMM yyyy")
        </p>      
    </div>        
    <div style="width: 90%;">
        <p class="inputTitle previewInputTile" style="margin-bottom: 10px">@Post.Title</p>       
    </div>
</div>
<div style="display: flex; margin-bottom: 20px;">
    <div style="width: 10%;">
        <TagColumn Tags="@Post.Tags"></TagColumn>
    </div>
    @*<hr class="verticalHr" />*@    
<div style="width: 90%;">
    @*<div id="vertical-hr"></div>*@
    <p style="text-align: justify; font-size: 14px; font-style: normal; font-weight: 400; line-height: 20px; color: #000000; margin-left: 10px; ">
            @((MarkupString)Post.PreviewText)
    </p>   
</div>
</div>

    @code {
        [Parameter]
        public PostRead Post { get; set; }          
    }
