@if (Aligment == Aligment.Left)
{
    @foreach (var tag in Tags)
    {        
        <a id="tag" href="">@((MarkupString)$"{tag.Name} ")</a>
        
    }
}

@if (Aligment == Aligment.Top)
{
<div class="tagContainer">
    @foreach (var tag in Tags)
    {        
        <a id="tag" href="">@((MarkupString)$"{tag.Name} ")</a>
    }
</div>
}

@code{
    [Parameter]
    public IEnumerable<Tag> Tags { get; set; }

    [Parameter]
    public Aligment Aligment { get; set; }
}