@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    font-family: 'Montserrat', Arial, sans-serif;
}

body {    
    margin-top: 15px;   
    overflow-x: hidden;
}

em {
    font-style: italic;
    background-color: yellow;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.form-control.invalid {
    border: 1px solid #CC0000;
}


.validation-message {
    font-size: 80%;
    color: #CC0000;
    width: 100%;
    margin-top: 0.25rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* ==================== Login ==================== */

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.form-control {
    border: 1px solid #9A9EAB;
    height: 45px;    
}

.control-section {
    min-height: 90vh;        
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.borderedButton {
    width: 50%;
    height: 45px;
    background-color: white;
    border: 2px solid #FA6E59;
    color: #FA6E59;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    align-content: end;
    margin-right: 5px;
}

    .borderedButton:focus {
        border: 2px solid #FA6E59;
    }

.filledButton {
    width: 50%;
    height: 45px;
    background-color: #FA6E59;
    border: 2px solid #FA6E59;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    margin-left: 5px;
}

.filledButton:focus, [type="submit"]:focus {
    outline: none;
}

#registerButton {    
    width: 100%;
    height: 43px;
    background-color: #FA6E59;
    border: 2px solid #FA6E59;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    flex:auto;
}

.registerLink {
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;    
}

.invalid ~ .validation-message {
    display: block;
}


/* ============================================= */



/* ==================== LOADER ==================== */

.cssloader {
    padding-top: calc(45vh - 25px);
}

.sh1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: #9A9EAB transparent transparent transparent;
    margin: 0 auto;
    animation: shk1 1s ease-in-out infinite normal;
}

.sh2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #FA6E59 transparent;
    margin: -50px auto 0;
    animation: shk2 1s ease-in-out infinite alternate;
}

/** animation starts here **/
@keyframes shk1 {
    0% {
        transform: rotate(-360deg);
    }

    100% {
    }
}

@keyframes shk2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
    }
}

.lt {
    color: black;    
    margin: 30px auto;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 7px;
}

#error {
    font-size: 80%;
    color: #CC0000;
    font-weight: 600;
    width: 100%;   
}

/* ============================================= */

/* ==================== AddOrUpdate ==================== */

.transparentInputTitle {
    outline: none;
    border-color: transparent;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 100%;
    padding-left: 0px;
    border-left-width: 0px;
}

.transparentInputTitle::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #C0C0C0;
}

.addtags {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    color: #C0C0C0;    
    padding-left: 0px;    
}   

.reading {
    outline: none;
    border-color: transparent;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: justify;
}

.addContainer {
    margin-left: 15%;
    margin-right: 15%;      
}


.sidePanel {
    position: fixed;
    right: 0;
    width: 100%;
    z-index: -1;
}


textarea {
     width: 100%;
     height: 100%;
}

.saveButton {
    width: 112px;
    height: 35px;
    background-color: #4897D8;
    border: 2px solid #4897D8;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    margin-left: 5px;
}

.saveBorderedButton {
    width: 112px;
    height: 35px;
    background-color: white;
    border: 2px solid #FA6E59;
    color: #FA6E59;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    align-content: end;
    margin-left: 5px;
}

.ql-editor {    
    padding: 0px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: justify;
    word-wrap: break-word;
}

.ql-container {
    min-height: 10rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.ql-container.ql-snow {
    border-color: transparent;
}

.ql-editor.ql-blank::before {
    left: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C0C0C0;
    font-style: normal;
}

.ql-toolbar.ql-snow {
    border-color: transparent;
    padding-left: 0px;
}

.ql-toolbar.ql-snow .ql-picker-label {
padding-left: 0px;
}

datalist {
    -webkit-appearance: none;    
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

#autosaveState {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    font-size: 12px;
    color: lightgray;
    font-weight: 200;
}

/* ============================================= */

/* ==================== Read ==================== */

.inputTitle {
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 100%;
    padding-left: 0px;
    border-left-width: 0px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.previewInputTile {
    text-align: left;
    margin-top: 0px;
    /*margin-left: 10px;*/
}


/* ============================================= */

/* ==================== DateTimeLine ==================== */

.dateTimeLine {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dateTimeLineText {
    flex-grow: 0;
}

.dateTimeFormat {
    font-size: 11px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px
}

.divider {
    flex-grow: 1;
    height: 1px;
    background-color: #9A9EAB;
}

/* ============================================= */

/* ==================== TagLine ==================== */

.tagContainer {    
    text-align: center;
    margin-bottom: 10px;
}

#tag {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FA6E59;    
}

/* ============================================= */

/* ==================== PostPreview ==================== */

.dateTimeOnMain {
    font-style: normal;
    font-size: 12px;
    line-height: 30px;
    width: 100%;        
    /*text-align: right;  */ 
    margin-bottom: 0px;
    margin-top: 0px;
    color: #000000;
    padding-right: 10px;
}

.mainContainer {
    margin-left: 20%;
    margin-right: 20%;
}

.clickablePost {
    text-decoration: none;
    cursor: pointer;
}
    .clickablePost:hover {
        text-decoration: none;
        cursor: pointer;
    }

.verticalHr {
    border: none;
    margin-top: 0px;
    border-left: 1px solid #C0C0C0;
    /*height: 10vh;*/
    width: 1px;
    height: 100%;
    /*left: 50%;*/
    position: relative;
}

#vertical-hr {
    background-color: #C0C0C0;
    position: absolute;
    height: 8%;
    width: 1px;
    margin-top: 2px;
}

/*.previewHr {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
}

    .previewHr:after {
        content: '';*/
        /*display: block;*/
        /*border-right: 1px solid black;
        margin-top: 0.3em;
        margin-left: -20px;
        margin-right: -20px;
    }*/

/* ============================================= */

/* ==================== MainPage ==================== */
.mainpagecontainer {
    width: 100%;
    height: 100%;
}

.leftpanel {
    width: 20%;
   /* height: 100%;*/
    float: left;    
    border-collapse: collapse;
}

.middlepanel {
    width: 60%;
   /* height: 100%;*/
    float: left;    
    border-collapse: collapse;
}

.rightpanel {
    width: 20%;
    /*height: 100%;*/
    position: relative;
    float: right;    
    border-collapse: collapse;
    text-align: right;
}
/* ============================================= */

/* ==================== Menu ==================== */
#circle {
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.numberCircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    /*border: 1px solid #000;*/
    background: #EC96A4;
}

.menuItem {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-right: 20px;
    text-align: center;
}
    .menuItem:hover {
        text-decoration: none;
        cursor: pointer;
        color: #000000;
        padding-bottom: 13px;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: #FA6E59;
        width: fit-content;
    }

.menuItemWithUnderline {
    cursor: pointer;
    color: #000000;
    padding-bottom: 13px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #FA6E59;
    width: fit-content;
}
/* ============================================= */

/* ==================== MainPage ==================== */

.searchTextBox {
    margin-bottom: 15px;
    outline: none;
    border-color: transparent;
    border-bottom-color: #9A9EAB;
    border-bottom-width: 1px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 31px;
    color: #C0C0C0;
    width: 100%;
    padding-left: 25px;
    border-left-width: 0px;
}

.inputWithIcon {
    position: relative;
}

    .inputWithIcon i {
        position: absolute;
        left: 0;
        top: 8px;
        padding: 9px 8px;
        color: #aaa;
        transition: 0.3s;
    }

.nothingToSee {
    color: #C0C0C0;    
}
/* ============================================= */

/* ==================== Menu ==================== */

.menulink {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    text-align: left;
}

    .menulink:hover {
        color: #9A9EAB;
        text-decoration: none;
    }


#menuToggle {
    display: block;
    position: absolute;
    top: 17px;
    right: 40px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #C0C0C0;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    }

        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }

        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

        /*
 * But let's hide the middle one.
 */
        #menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        /*
 * Ohyeah and the last one should go the other direction
 */
        #menuToggle input:checked ~ span:nth-last-child(2) {
            opacity: 1;
            transform: rotate(-45deg) translate(0, -1px);
        }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: #F7F7F7;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

    #menu li {
        padding: 5px 0;
        font-size: 17px;
        font-weight:400;
    }

        #menu li:hover {
            font-weight: 600;
        }
        /*
 * And let's fade it in from the left
 */
        #menuToggle input:checked ~ ul {
            transform: none;
            opacity: 1;
        }

@media screen and (max-width: 768px) {
    #menu {
        transform: none;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}

/* ================================================== */

/* ==================== Menu 2 ==================== */

.menu_Li {
    list-style: none;
    display: inline;    
}

#menu_a {
    color: #9A9EAB;
    text-decoration: none;
}

    #menu_a:hover {
        color: #A1BE95;
        font-weight:800;
        text-decoration: underline;
    }

.material-symbols-outlined {
    font-size: 36px !important;
}
/* ================================================== */

/* ==================== AdminPage ==================== */

.adminleftpanel {
    width: 10%;
    float: left;
    height: 100%;
    border-collapse: collapse;
    border-right-color: gray;
    background-color: #D9D9D9;
}

.adminmiddlepanel {    
    width: 60%;    
    float: left;
    border-collapse: collapse;
}

.adminrightpanel {
    width: 25%;
    position: relative;
    float: right;
    border-collapse: collapse;
    text-align: right;
}

.addButton {
    width: 150px;
    height: 35px;
    background-color: #4897D8;
    border: 2px solid #4897D8;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    align-content: end;
    margin-left: 5px;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

#noMarginHr {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

/* ============================================= */
/* ==================== Logo ==================== */
.hr {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

    .hr:after {
        content: '';
        display: block;
        border-top: 1px solid black;
        margin-top: 0.3em;
        margin-left: -20px;
        margin-right: -20px;
    }

#inner {
    display: table;
    margin: 0 auto;
}

#outer {
    width: 100%
}

#logo_a {
    color: black;
}

    #logo_a:hover {
        color: black;
        text-decoration: none;
    }
/* ============================================= */