@page "/addorupdate"

<Logo Aligment=@Aligment.Top></Logo>


<div class="addContainer">
    <p>
        <input type="text" placeholder="Введите заголовок" @bind="post.Title" class="transparentInputTitle" />
    </p>
    <p>
        <textarea type="text" rows="30" placeholder="Введите текст" @bind="post.Text" class="reading" />
    </p>
    <div class="addFooter">
        <hr />
        <p>Добавьте теги</p>
        <div class="text-right">
            <button type="submit" class="filledButton">Сохранить</button>
        </div>
    </div>
</div>