@page "/admin"

@using Microsoft.AspNetCore.Components;
@inject Microsoft.AspNetCore.Components.NavigationManager nav;



<AuthorizeView>
    <Authorized>
        @if (LoaderVisible)
        {
            <Loader></Loader>
        }
        else
        {
             <Logo Aligment=@Aligment.Top></Logo>
             <div class="addContainer">
                <Virtualize Items="@postList" Context="item" TItem="PostRead">
                    <ItemContent>
                        <AdminPostPreview Post="@item"></AdminPostPreview>
                    </ItemContent>
                    <Placeholder>
                        <p>Loading..</p>
                    </Placeholder>
                </Virtualize>
            </div>
            <button type="submit" class="addButton" style="position: fixed; right:0; bottom:0; margin-bottom: 10px; margin-right: 10px; float: right" @onclick="@(() => nav.NavigateTo("/addorupdate"))">Добавить запись</button>
        }       
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@code{

    [Inject]
    public IPostManager PostManager { get; set; }

    public string SearchText { get; set; }

    public bool LoaderVisible { get; set; } = true;

    private ICollection<PostRead> postList = new List<PostRead>();

    protected override async Task OnInitializedAsync()
    {
        var postsInDb = await PostManager.GetAllAsync().ConfigureAwait(false);
        postList = postsInDb.Select(postInDb => new PostRead
        {
            Id = postInDb.Id,
            Title = postInDb.Title,
            PreviewText = postInDb.PreviewText,
            CreateDateTime = postInDb.CreateDateTime.GetValueOrDefault(),
            Tags = postInDb.Tags.Select(x => new Tag { Id = x.Id, Name = x.Name }),
            AutoSaved = postInDb.AutoSaved
        }).ToList();
        CancelLoader();
    }

    protected void CancelLoader() => LoaderVisible = false;

    protected void StartLoader() => LoaderVisible = true;

    private void Navigate(Guid postId)
    {
        nav.NavigateTo("/read/" + postId);
    }
}